<!-- <main id="root">
  <h1>Emojicloud</h1>
  <p>Emojicloud is a visualization of emojis from tweets posted at a certain time or location. Similar to word cloud, more common emojis will be larger in size. Through this visualization, users will be able to get the general sense of how the public is feeling at a certain time and location.</p>
</main> -->

<!DOCTYPE html>
<html id="root">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.7/assets/css/emojione.min.css"/>
<!-- <script src='http://cdn.jsdelivr.net/emojione/2.1.4/lib/js/emojione.min.js'></script>
<link rel='stylesheet prefetch' href='http://cdn.jsdelivr.net/emojione/2.1.4/assets/css/emojione.min.css'> -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js'></script>
<script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js"></script>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="emoji">
      <h1 id="emoji-header"><img src="https://res.cloudinary.com/dseky3p5e/image/upload/c_scale,h_59/v1486169210/emojicloud_yufjs2.png"></h1>

      <svg id="cloud"></svg>

      <div id="emoji-controls">
        <button class="emoji-controls-btn" onClick=fetchEmojis('world')>World</button>
        <button class="emoji-controls-btn" onClick=fetchEmojis('africa')>Africa</button>
        <button class="emoji-controls-btn" onClick=fetchEmojis('asia')>Asia</button>
        <button class="emoji-controls-btn" onClick=fetchEmojis('europe')>Europe</button>
        <button class="emoji-controls-btn" onClick=fetchEmojis('us')>US</button>
      </div>
    </div>

    <div id="map">
      <script type="text/javascript" src="/javascripts/maps.js"></script>
    </div>

    <div id="tweet">
      <img id="tweet-img" height="20px" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/738px-Twitter_bird_logo_2012.svg.png" alt="">
      <div id="tweet-text"> </div>
    </div>

  </body>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0M_LTkZTCrvdscBqVHbpmhizR1z4VK2k&callback=initMap">
  </script>


  <script  type="text/javascript" src="/javascripts/emoji_cloud.js"> </script>
