<!-- <main id="root"> -->
  <h1>Emojicloud</h1>
  <p>Emojicloud is a visualization of emojis from tweets posted at a certain time or location. Similar to word cloud, more common emojis will be larger in size. Through this visualization, users will be able to get the general sense of how the public is feeling at a certain time and location.</p>
</main>
