<main id="root">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>

  <body>
    <h1>Emojicloud</h1>
    <p>Twitter emoji cloud generator built with React, Ruby on Rails, and Postgres to visualize public emotion.</p>
  </body>
</main>
