<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% TwitterApi.our_public_tweets.each do |tweet| %>
      <li> <%= tweet.text %> </li>
      <% end %>
    </ul>

  </body>
</html>
