body {
  width: 1000;
  display: flex;
  flex-direction: column;
  /*border: red 1px solid;*/
  align-content: space-between;
  background-color: #f5f8fa
}
.top-container {
  display: flex;
  flex-direction: row;
}
#cloud {
  flex: 0 0 500px;
  height: 500px;
}
#tweet-container {
  flex: 0 0 500px;
  /*border: red 1px solid;*/
  display: flex;
  text-align: center;
  flex-direction: column;

}
.tweet {
  background-color: white;
  border: solid 1px #e1e8ed;
  max-width: 200;
  word-wrap: break-word;
  display: flex;
}


button {
  background-color: lightblue;
  width: 70;
  height: 90;
  transition: background-color 1s;
}

button:hover {
  background-color: blue;
}
