
#tweet {
  display: flex;
  flex-direction: row;

  height: 90px;
  width: 550px;

  /*padding: 30px;*/
  background-color: white;
  border-radius: 5px;

  margin: 0;
  /*padding: 0;*/

  position:absolute;
  z-index:10;
  top:50px;
  left:660px;

  box-shadow: 10px 10px 5px #888888;
}


#tweet-img {
  padding: 5px 10px 0 10px;
  /*padding-left: 15px;*/
}
#tweet-container {
  width: 100%;
  /*padding: 5px;*/
}
#tweet-container * {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
#tweet-instructions {
  display: flex;
  flex-direction: column;
  /*margin: 5px;*/
  /*padding: 10px;*/
  overflow: hidden;
  text-overflow: ellipsis;

  color: navy;
}

#tweet-instruction {
  /*padding: 0;
  padding-left: 50px;*/
  margin: 0;
  text-align: center;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 5px 2px 5px;
  /*border-bottom: lightgray 1px solid;*/

}

.tweet-screenname{
  font-weight: bold;
  padding-right: 5px;
}

.tweet-count {
  color: grey;
}

.tweet-body {
  /*flex: 0 0 40px;*/
  height: 60px;
  padding: 2px 0 2px 5px;
  /*border-radius: 5px;*/
  /*height: 100%;*/
  text-overflow: ellipsis;

  /*text-overflow: clip;*/

    /* Required for text-overflow to do anything */
    /*white-space: pre-wrap;*/
    overflow: hidden;

}
