<!DOCTYPE html>
<html>
  <head>
    <title>Emojicloud</title>

    <link rel="icon" type="image/gif/png" href="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-11/512/Cloud-icon.png">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" />
  </body>
</html>
